.title-container {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;

  .title {
    font-size: 32px;
    font-weight: bold;
  }

  .actions {
    padding-bottom: 8px;
  }
}

.btn.new {
  margin: 0;
}
